# Python bytecode
__pycache__/
*.pyc

# Virtual Environments
venv/
myenv/
env/

# Simulation Outputs (Heavy files)
breather_run_*/
temp_frames/
*.log

# IDE settings
.vscode/
.idea/

# Exception: Keep assets for README
!assets/